.btn-color-primary,.btn-color-primary:hover{
    color:#ffffff;
    background-color: #FFB200;
}

.primary-border{
    border:2px solid #FFB200;
}

.primary-text,.primary-text:hover{
    color:#0F233B;
}

.secondary-text{
    color:#FFB200;
}

.primary-bg{
    background-color: #0F233B;
}

.h-90{
    height: 90vh;
}

.input-custom{
    width:19rem !important
}

.btn-color-secondary,.btn-color-secondary:hover{
    background-color:#0F233B;
    color:#ffffff
}

.btn-outline-secondary{
    color:#0F233B;
    border: 2px solid #0F233B;
}

.btn-outline-secondary:hover{
    background-color: #0F233B;
    color:#ffffff
}
.form-control:focus{
    border-color: #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.075),0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.075),0 0 8px rgba(255, 255, 255, 0.6);
}

.holder{
    width: 90%;
}

.image{
    height:28rem !important;
}

.img{
    height: 13rem !important;
}


@media only screen and (max-width: 1025px)
{
    .h-90{
        height: 40vh !important;
    }
    .image{
        height:20rem !important;
    }
}

@media only screen and (max-width: 800px)
{
    .h-90{
        height: 40vh !important;
    }

    .image{
        height:15rem !important;
    }
    
    .input-custom{
        width:13rem !important;
    }
}