.btn-color-primary,.btn-color-primary:hover,.btn-color-outline-primary:hover{
    color:#ffffff;
    background-color: #FFB200;
}
.btn-color-outline-primary{
    color:#FFB200;
    border: 2px solid #FFB200;
}

.primary-border{
    border:2px solid #FFB200;
}

.primary-text,.primary-text:hover{
    color:#0F233B;
}

.secondary-text{
    color:#FFB200;
}

.primary-bg{
    background-color: #0F233B;
}

.height-max{
    height: 100vh;
}

.color-bg{
    background-color: #dae9fc;
}
.secondary-bg{
    background-color: #FFB200;
}
.upload-section{
    background-color: #0F233B;
}

.input-custom{
    width:15rem !important
}

.input-custom2{
    width:20rem !important
}

.btn-color-secondary,.btn-color-secondary:hover{
    background-color:#0F233B;
    color:#ffffff
}

.btn-outline-secondary{
    color:#0F233B;
    border: 2px solid #0F233B;
}

.btn-outline-secondary:hover{
    background-color: #0F233B;
    color:#ffffff
}
.form-control:focus{
    border-color: #FFB200;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.075),0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.075),0 0 8px rgba(255, 255, 255, 0.6);
}

.activeCard{
    border-bottom: 2px #04283E solid;
}

.scroll-div{
    max-height: 90vh;
}

.suggestion-div{
    height: 76vh;
}
.scroll-div2{
    max-height: 120vh;
}

.scroll-div-profile{
    height: 80vh;
}

#custom_scroll_bar::-webkit-scrollbar
{
	width: 0px;
}


.holder{
    width: 90%;
}

.image{
    height:28rem !important;
}

.img{
    height: 13rem !important;
}

.modal-image{
    height:100px
}

.nav__link{
    transition: .3s;
  }

.nav__name{
    color: #0F233B !important;
}

.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .marker-btn img {
    width: 20px;
    height: 20px;
  }

  .link{
    display: inline-block;
    color: #04283E;
    text-decoration: none;
}



.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    color: #FFB200;
    background: #FFB200;
    transition: width .3s;
    color: #04283E !important;
}

.link:hover::after {
    width: 100%;
    color:#04283E;
}

.text-xs{
    font-size: .9rem;
    text-align: justify;
}

.text-justify{
    text-align: justify;
}

.scroll-X{
    width:70vw;
    overflow-x: auto;
}

.scroll-Xmodal{
    width:90vw;
    overflow-x: auto;
}

.scroll-application{
    width:25vw;
    overflow-x: auto;
}

.h-25{
    height: 5vh !important;
}

@media only screen and (max-width: 1025px)
{
    .h-90{
        height: 40vh !important;
    }
    .image{
        height:20rem !important;
    }
}

@media only screen and (max-width: 800px)
{
    .h-90{
        height: 40vh !important;
    }

    .image{
        height:15rem !important;
    }
    
    .input-custom{
        width:13rem !important;
    }
    .input-custom2{
        width: 16rem !important;
    }
    .modal-image{
        height: 60px !important;
    }
    .scroll-X{
        width:90vw;
        overflow-x: auto;
    }
}


@media only screen and (max-width: 500px)
{
    .scroll-X{
        width:90vw;
        overflow-x: auto;
    }
    .scroll-application{
        width:90vw;
        overflow-x: auto;
    }
    
.custom-btn{
    width:100%;
}

.scroll-Xmodal{
    width:90vw;
    overflow-x: auto;
}

}